@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,200;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 10px;
}
:root {
  --primary-color: #35040a;
  --white-color: #ffffff;
  --text-white: #ffffff;
  --medium-gray: #888888;
  --light-pink: #ffc0cb;
  --secondary-yellow: #b4ce21; 
  --main-border-radius: 10px;
  --font-color: white;
  
  --base-font-weight: 100; 

  --font-size: 30px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
    border: none;
    background: #dbcc26;
}
img {
    width: 150%;
}
.Hero-section {
    background: var(--primary-color);
    min-height:100vh;


}
.Hero-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
}
.Hero-section .Hero-datatails .tittle {
    font-size: var(--font-size-xx2);
    color: var(--secondary-yellow);
    font-family:"poppins"  sans-serif;
    font-style:var(--light-pink);

}
.Hero-section .Hero-datatails .Subtittle {
    margin-top: 8px;
    max-width: 70%;
    font-weight:var(--font-weight-semibold);
    font-size: var(--font-size-x1);
}
.Hero-section .Hero-datatails .Description {
    max-width: 70%;
    margin: 24px 0 40px;
    font-size: var(--font-size-small);
}
.Hero-section .Hero-datatails .button {
    padding: 10px 26px;
    color:var(--primary-color);
    border-radius: var(--main-border-radius-m);
    background: var(--secondary-yellow);
    font-weight: var(--base-font-weight-large);
}
.Hero-section .Hero-image-wrapper {
    max-width: 500px;
    margin-right: 150px;
    margin-top: 15px;
}
header {
    position: fixed;
    width: 100%;
    background: var(--primary-color);
}
.Hero-datatails {
color: var(--font-color);
font-size:xx-large;
}


header .navbar {
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: space-between;
}
 .logo-text {
    color: var(--white-color);
    margin-right: 20px;
size: 50px;
font-size: 30px;
}
 .nav-menu {
    display: flex;
    gap: 0;

}
.navbar :where(#menu-close-button,#menu-open-button){
    font-size: var(--font-size-1);
    display: block;
}
    .navbar #menu-close-button{
position: absolute;
right: 30px;
top: 30px;

    }
.navbar :where(#menu-close-button,#menu-open-button){
    display: none;

}

.navbar #menu-open-button{
    color:var(--white-color);

}
.nav-link {
    padding: 5px 10px;
    border-radius:var(--main-border-radius);
    background:var(--secondary-yellow);
    color: var(--white-color);
    transition: 0.3s;
}
.nav-item{
    margin-left: 100px;
    margin-inline: 50px;
    margin-block: 20px;
    font-size: 10px;
    gap: 0PX;
    margin-right: 0px;
}

.nav-item:hover { 
    color: var(--primary-color);
    background: var(--secondary-yellow);
}
 .Hero-section .Hero-datatails .button{
    padding: 5px 10px;
    border-radius:var(--main-border-radius);
    background:var(--secondary-yellow);
    color:var(--primary-color);
    height: 30px;
    width: 70px;
    align-items: inline;
    gap: 50px;
    margin-left: 10px;
}

 .Hero-section .Hero-datatails .button {
    display: flex;
    gap: 23px;
 }
.Hero-section .Hero-datatails .button:hover {
    color: var(--white-color);
    border-color: var(--white-color);
    background: transparent;
    border-radius:var(--main-border-radius);

}
.Hero-section .Hero-datatails .button .Contact-Us :hover {
 color: var(--primary-color);
    border-color: var(--secondary-color);
    background:var(--secondary-color);
    border: 2px solid transparent;

}

.Hero-section .Hero-datatails .button .Order-Now :hover {
 color: var(--primary-color);
    border-color: var(--secondary-color);
    background: var(--secondary-color);
    border: 2px solid transparent;
    border-radius:var(--main-border-radius);


}
.nav-link:hover{
    background-color: black;
}
.Hero-section .Hero-datatails .button .Contact-Us{
padding: 5px 10px;
    border: 2px solid transparent;
    border-radius:var(--main-border-radius);
    background:var(--secondary-yellow);
    color:var(--primary-color);
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background:rgb(230, 177, 130);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: white;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    width: 300px;
}

.login-container h1 {
    text-align: center;
    color: #5c3d2e;
    margin-bottom: 5px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.login-container input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    border-color:rgb(24, 21, 21) ;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #5c3d2e;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.login-container button:hover {
    background-color: #7a5239;
}

.login-container p {
    text-align: center;
    margin-top: 15px;
}

.login-container a {
    color: #5c3d2e;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}
