body{
    display: flex;
    margin: 0;
    
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 177, 130);
    height: 100;
    bottom: center;
    
}
.Container {

 background: white;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(15, 5, 5, 0.2);
    width: 300px;
    border-top: 10px;
    margin-top: 40px;
    margin-bottom:30px ;
    container: center;
    
}
h2{
     text-align: center;
    color: #5c3d2e;
    margin-bottom: 5px;
    
}
.Container input {
        width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 0px;
border-color:rgb(43, 38, 38);
}



